<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Mechanic Reservations System</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark py-4">
    <a class="navbar-brand" href="#">Mechanic Reservation System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link" th:href="@{/authorization/register}">Register</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link" th:href="@{/user/{id}(id=${#authentication.principal.id})}">Profile</a>
            </li>
            <li sec:authorize="hasRole('ROLE_MECHANIC')" class="nav-item">
                <a class="nav-link" th:href="@{/user/all}">Users</a>
            </li>
            <li sec:authorize="hasRole('ROLE_MECHANIC')" class="nav-item">
                <a class="nav-link" th:href="@{/mechanic/reservations}">Reservations</a>
            </li>
            <!--            <li sec:authorize="hasRole('ROLE_CLIENT')" class="nav-item">-->
            <!--                <a class="nav-link" th:href="@{/user/reservations/{id}(id=${#authentication.principal.id})}">My Reservations</a>-->
            <!--            </li>-->

            <li sec:authorize="hasRole('ROLE_CLIENT')" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Reservations
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item" th:href="@{/user/reservations/{id}(id=${#authentication.principal.id})}">My Reservations</a>
                    <!--                    <div class="dropdown-divider"></div>-->
                    <a class="dropdown-item" th:href="@{/client/addreservation/{id}(id=${#authentication.principal.id})}">Add Reservation</a>
                </div>
            </li>

            <!--            <li sec:authorize="hasRole('ROLE_CLIENT')" class="nav-item">-->
            <!--                <a class="nav-link" th:href="@{/user/cars/{id}(id=${#authentication.principal.id})}">My Cars</a>-->
            <!--            </li>-->
            <li sec:authorize="hasRole('ROLE_CLIENT')" class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Cars
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <a class="dropdown-item" th:href="@{/user/cars/{id}(id=${#authentication.principal.id})}">My Cars</a>
                    <!--                    <div class="dropdown-divider"></div>-->
                    <a class="dropdown-item" th:href="@{/client/addcar/{id}(id=${#authentication.principal.id})}">Add Car</a>
                </div>
            </li>


        </ul>
        <form class="form" form-method="post" th:action="@{/logout}" >
            <span sec:authorize="isAuthenticated()" sec:authentication="name" class="navbar-text"></span>
            <!--            <span sec:authorize="isAuthenticated()" sec:authentication="principal.firstName" class="navbar-text"></span>-->
            <!--            <span sec:authorize="isAuthenticated()" sec:authentication="principal.id" class="navbar-text"></span>-->
            <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger" type="submit">Logout</button>
            <button sec:authorize="isAnonymous()" th:href="@{/login}" class="btn btn-outline-info" type="submit">Login</button>
        </form>
    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="col-lg-6 cold-md-6 col-sm-6 container justify-content-center card">
        <h1 class="text-center">Add Car</h1>
        <div class="card-body">
            <form class="form" action="#" th:action="@{/client/car/{id}(id=${clientId})}" th:object="${car}" method="post">
<!--                <div class="alert alert-danger" th:if="${errorMessage}" th:text="${errorMessage}">Error></div>-->
                <div class="form-group">
                    <label>Brand</label>
                    <input
                            type="text"
                            name="brand"
                            th:field="*{brand}"
                            class="form-control"
                            placeholder="Enter brand"
                    />
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}"></div>
                </div>
                <div class="form-group">
                    <label>Model</label>
                    <input
                            type="text"
                            name="model"
                            th:field="*{model}"
                            class="form-control"
                            placeholder="Enter model"
                    />
                </div>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('model')}" th:errors="*{model}"></div>
                <div class="form-group">
                    <label>Year of Production</label>
                    <input
                            type="text"
                            name="yearOfProduction"
                            th:field="*{yearOfProduction}"
                            class="form-control"
                            placeholder="Enter year of production"
                    />
                </div>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('yearOfProduction')}" th:errors="*{yearOfProduction}"></div>
                <div class="form-group">
                    <label for="body">Body</label>
                    <select class="form-control" th:field="*{body}" id="body">
                        <option th:value="'Coupe'" th:text="Coupe">Coupe</option>
                        <option th:value="'Sedan'" th:text="Sedan">Sedan</option>
                        <option th:value="'Hatchback'" th:text="Hatchback">Hatchback</option>
                        <option th:value="'Liftback'" th:text="Liftback">Liftback</option>
                        <option th:value="'Combi'" th:text="Combi">Combi</option>
                        <option th:value="'Minivan'" th:text="Minivan">Minivan</option>
                        <option th:value="'Van'" th:text="Van">Van</option>
                        <option th:value="'Suv'" th:text="Suv">Suv</option>
                        <option th:value="'Cabrio'" th:text="Cabrio">Cabrio</option>
                        <option th:value="'Pickup'" th:text="Pickup">Pickup</option>
                    </select>
                </div>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></div>
                <br>
                <div class="box-footer text-center">
                    <button type="submit" class="btn btn-dark">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--<div sec:authorize="isAuthenticated()" th:text="${#authentication.principal.firstName} + ${#authentication.principal.lastName}"></div>-->


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>