<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Mechanic Reservations System</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark py-4">
    <a class="navbar-brand" href="#">Mechanic Reservation System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link" th:href="@{/authorization/register}">Register</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link" th:href="@{/user/{id}(id=${#authentication.principal.id})}">Profile</a>
            </li>
            <li sec:authorize="hasRole('ROLE_MECHANIC')" class="nav-item">
                <a class="nav-link" th:href="@{/user/all}">Users</a>
            </li>
            <li sec:authorize="hasRole('ROLE_MECHANIC')" class="nav-item active">
                <a class="nav-link" th:href="@{/mechanic/reservations}">Reservations</a>
            </li>
            <!--            <li sec:authorize="hasRole('ROLE_CLIENT')" class="nav-item">-->
            <!--                <a class="nav-link" th:href="@{/user/reservations/{id}(id=${#authentication.principal.id})}">My Reservations</a>-->
            <!--            </li>-->

            <li sec:authorize="hasRole('ROLE_CLIENT')" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Reservations
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item" th:href="@{/user/reservations/{id}(id=${#authentication.principal.id})}">My Reservations</a>
                    <!--                    <div class="dropdown-divider"></div>-->
                    <a class="dropdown-item" th:href="@{/client/addreservation/{id}(id=${#authentication.principal.id})}">Add Reservation</a>
                </div>
            </li>

            <!--            <li sec:authorize="hasRole('ROLE_CLIENT')" class="nav-item">-->
            <!--                <a class="nav-link" th:href="@{/user/cars/{id}(id=${#authentication.principal.id})}">My Cars</a>-->
            <!--            </li>-->
            <li sec:authorize="hasRole('ROLE_CLIENT')" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Cars
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <a class="dropdown-item" th:href="@{/user/cars/{id}(id=${#authentication.principal.id})}">My Cars</a>
                    <!--                    <div class="dropdown-divider"></div>-->
                    <a class="dropdown-item" th:href="@{/client/addcar/{id}(id=${#authentication.principal.id})}">Add Car</a>
                </div>
            </li>


        </ul>
        <form class="form" form-method="post" th:action="@{/logout}" >
            <span sec:authorize="isAuthenticated()" sec:authentication="name" class="navbar-text"></span>
            <!--            <span sec:authorize="isAuthenticated()" sec:authentication="principal.firstName" class="navbar-text"></span>-->
            <!--            <span sec:authorize="isAuthenticated()" sec:authentication="principal.id" class="navbar-text"></span>-->
            <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger" type="submit">Logout</button>
            <button sec:authorize="isAnonymous()" th:href="@{/login}" class="btn btn-outline-info" type="submit">Login</button>
        </form>
    </div>
</nav>
<br>
<br>
<div class = "container text-center">
    <div class = "row text-center">
        <div class="col-lg-6 cold-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center">Reservations List</h1>
            <p>
                Current list of all Mechanic Reservation System reservations.
            </p>
        </div>
    </div>
    <div class="alert alert-danger" th:if="${errorMessage}" th:text="${errorMessage}">Error></div>
    <div class="alert alert-success" th:if="${successMessage}" th:text="${successMessage}">Success></div>
    <table class="table table-striped table-dark" id="reservationsTable">
        <thead>
        <tr>
            <th class="align-middle">Client Email</th>
            <th class="align-middle">Car</th>
            <th class="align-middle">Service Type</th>
            <th class="align-middle">Description</th>
            <th class="align-middle">Status</th>
            <th class="align-middle">Date</th>
            <th class="align-middle">Attachment</th>
            <th class="align-middle">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "reservation: ${reservations}">
            <td class="align-middle" th:text="${reservation.clientEmail}"></td>
            <td class="align-middle" th:text="${reservation.carBrand} + ' ' + ${reservation.carModel}"></td>
            <td class="align-middle" th:text="${reservation.serviceType}"></td>
            <td class="align-middle" th:text="${reservation.exactDescription}"></td>
            <td class="align-middle" th:text="${reservation.status}"></td>
            <td class="align-middle" th:text="${reservation.choosedDate}"></td>
            <td>
                <div class="container align-middle">
<!--                    <img width="100%" height="100%" th:src="@{'/attachments/' + 'user' + ${reservation.clientId} + '/reservation' + ${reservation.reservationID} + '/' + ${reservation.attachment}}" alt="There is no attachment!"/>-->

<!--                    <a href="/oauth2/authorization/google">-->
<!--                        <img alt="Google Login" title="Google login"-->
<!--                             th:src="@{'/attachments/' + 'user' + ${reservation.clientId} + '/reservation' + ${reservation.reservationID} + '/' + ${reservation.attachment}}" />-->
<!--                    </a>-->
                    <a><img th:src="@{'/attachments/' + 'user' + ${reservation.clientId} + '/reservation' + ${reservation.reservationID} + '/' + ${reservation.attachment}}" width="200"/></a>
                </div>
            </td>
            <td>
                <div class="container align-middle">
                    <div class = "row justify-content-center">
                        <a th:href="@{/mechanic/addReservationDates/{id}(id=${reservation.reservationID})}" class="btn btn-success">ADD DATE</a>
                        <a th:href="@{/mechanic/completeReservation/{id}(id=${reservation.reservationID})}" class="btn btn-warning">COMPLETE</a>
                    </div>
                    <div class = "row justify-content-center">
                        <a th:href="@{/mechanic/deleteReservation/{id}(id=${reservation.reservationID})}" class="btn btn-danger">DELETE</a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
<!--    <div>-->
<!--        <img th:src="@{'/attachments/' + 'user2/reservation40/unknown.png'}"/>-->
<!--    </div>-->
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>

<script>
    $(document).ready(function() {
        $("#reservationsTable").DataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1]
            }]
        });
    })
</script>

<script>
    $( document ).ready(function() {

        $("img").each(function(){
            var imgUrl = $(this).attr('src');
            $(this).parent().attr('href', imgUrl);
        });

    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</body>
</html>